/* Skeleton.css */
@keyframes pulse {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.50;
    }
    100% {
        opacity: 0.9;
    }
}

.animate-pulse {
    animation: pulse 1.5s infinite ease-in-out;
}
